.main{
    border: 5px solid grey;
    width: 500px;
    min-height: 500px;
}
.box{
    width: 100px;
height: 100px;
color: white;
font-weight: bold;
padding: 10px;
}
.box1{ background-color: aqua;}
.box2{ background-color: rgb(255, 0, 162);}
.box3{ background-color: rgb(162, 255, 0);}